.mat-mdc-row .mat-mdc-cell {
    transition: all 0.2s;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(255, 199, 246);
}

.scrollable {
    max-height: 100px;
    max-width: 500px;
    overflow-x: auto;
}