<footer>
    <div class="column">
        <h1>Contact</h1>

        <mat-divider></mat-divider>

        <div class="row icon">
            <mat-icon>chat</mat-icon>
            <a [href]="routes.support">Live chat support</a>
        </div>

        <mat-divider></mat-divider>

        <div class="row icon">
            <mat-icon>phone</mat-icon>
            <a href="tel:+34 916 440 025">+34 916 440 025</a>
        </div>

        <mat-divider></mat-divider>

        <div class="row icon">
            <mat-icon>mail</mat-icon>
            <a href="mailto:cau@educa.madrid.org">cau@educa.madrid.org</a>
        </div>

        <mat-divider></mat-divider>

        <div class="row socials">
            <a href="https://reddit.com/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/128/3128/3128263.png">
            </a>
            <a href="https://youtube.com/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/128/1384/1384028.png">
            </a>
            <a href="https://github.com/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/128/2111/2111432.png">
            </a>
            <a href="https://linkedin.com/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/128/61/61109.png">
            </a>
        </div>
    </div>

    <div class="column">
        <h1>Legal</h1>

        <mat-divider></mat-divider>

        <a [href]="routes.cookieConsent" target="_blank">Cookie consent</a>

        <mat-divider></mat-divider>

        <a [href]="routes.privacyPolicy" target="_blank">Privacy policy</a>

        <mat-divider></mat-divider>

        <a [href]="routes.termsAndConditions" target="_blank">Terms and conditions</a>

        <mat-divider></mat-divider>

        <p>Copyright© 2024 Pixel-React S.L.</p>
    </div>

    <div class="column">
        <h1>We are here!</h1>

        <mat-divider></mat-divider>

        <iframe id="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6082.078355713931!2d-3.832825799999999!3d40.341476899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418eb3d0b2e833%3A0xc65fa6f3ed453e30!2sIES%20La%20Arboleda!5e0!3m2!1ses!2ses!4v1715614208072!5m2!1ses!2ses"
            width="350" height="200" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
    </div>

    <div class="column">
        <h1>Send us an email!</h1>

        <!-- <mat-divider></mat-divider> -->

        <form [formGroup]="fieldForm" (ngSubmit)="sendEmail()">

            <mat-form-field>
                <mat-label>Your email</mat-label>
                <input matInput formControlName="email" placeholder="We will reply to this email">
                <mat-error *ngIf="email?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="email?.hasError('email')">Invalid email</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Subject</mat-label>
                <input matInput formControlName="subject" placeholder="Title">
                <mat-error *ngIf="subject?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" placeholder="Your issue/suggestion here"></textarea>
                <mat-error *ngIf="message?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="message?.hasError('minlength') || message?.hasError('maxlength')">Message must
                    have a length between 50 and 500 characters</mat-error>
            </mat-form-field>

            <button mat-raised-button [disabled]="!fieldForm.valid" color="primary" type="submit">Send</button>
        </form>

    </div>

</footer>