<footer>
    <div class="column">
        <h1>Contact</h1>
        <mat-divider></mat-divider>
        <div class="row icon">
            <mat-icon>phone</mat-icon>
            <a href="tel:+34 916 440 025">+34 916 440 025</a>
        </div>
        <mat-divider></mat-divider>
        <div class="row icon">
            <mat-icon>mail</mat-icon>
            <a href="mailto:cau@educa.madrid.org">cau@educa.madrid.org</a>
        </div>
        <mat-divider></mat-divider>
        <div class="row socials">
            <a mat-mini-fab href="https://instagram.com/" target="_blank">
                <mat-icon>camera</mat-icon>
            </a>
            <a mat-mini-fab href="https://twitter.com/" target="_blank">
                <mat-icon>raven</mat-icon>
            </a>
            <a mat-mini-fab href="https://linkedin.com/" target="_blank">
                <mat-icon>link</mat-icon>
            </a>
        </div>
    </div>

    <div class="column">
        <h1>Legal</h1>
        <mat-divider></mat-divider>
        <a [href]="routes.cookieConsent" target="_blank">Cookie consent</a>
        <mat-divider></mat-divider>
        <a [href]="routes.privacyPolicy" target="_blank">Privacy policy</a>
        <mat-divider></mat-divider>
        <a [href]="routes.termsAndConditions" target="_blank">Terms and conditions</a>
        <mat-divider></mat-divider>
        <p>Copyright© 2024 Pixel-React S.L.</p>
    </div>

    <div class="column">
        <h1>We are here!</h1>
        <iframe id="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6082.078355713931!2d-3.832825799999999!3d40.341476899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418eb3d0b2e833%3A0xc65fa6f3ed453e30!2sIES%20La%20Arboleda!5e0!3m2!1ses!2ses!4v1715614208072!5m2!1ses!2ses"
            width="350" height="200" style="border:0;" allowfullscreen="true" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>