<div class="background">

    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Change Username</mat-card-title>
            <mat-card-subtitle>This is your current public alias, which is visible by everyone in this
                platform.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>{{username}}</mat-label>
                <input matInput [(ngModel)]="newDisplayName" type="text" placeholder="Your new name here">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="warn" (click)="newDisplayName = ''"
                [disabled]="!(newDisplayName?.length! > 0)">Discard</button>
            <button mat-flat-button color="primary" (click)="updateDisplayName()"
                [disabled]="!(newDisplayName?.length! > 0)">Update</button>
        </mat-card-actions>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Change Profile Picture</mat-card-title>
            <mat-card-subtitle>This is your current public user avatar, which is visible by everyone in this
                platform.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline" class="img">
                <mat-label>Image</mat-label>
                <input matInput [(ngModel)]="newImage" placeholder="Upload a file or paste an url">
                <button mat-icon-button matSuffix (click)="fileInput.click()">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file">
            </mat-form-field>
            <img [src]="isUndefined(newImage) ? image : newImage">
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="warn" (click)="newImage = ''"
                [disabled]="isUndefined(newImage)">Discard</button>
            <button mat-flat-button color="primary" (click)="updateImage()"
                [disabled]="isUndefined(newImage)">Update</button>
        </mat-card-actions>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Change Password</mat-card-title>
            <mat-card-subtitle>This is your account's secret and safe key, if you lose it, you would not be able to
                login. Password must be 8-30 characters length, and contain at least one of each: uppercase letter,
                lowecase letter, number and symbol.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>🤫🧏🏻</mat-label>
                <input matInput [(ngModel)]="password" [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Your new password here">
                <mat-icon matSuffix (click)="hidePassword = !hidePassword" matTooltip="{{ hidePassword ? 'reveal password' :
          'hide password'}}">{{ hidePassword ? 'visibility_off' :
                    'visibility'}}</mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="warn" (click)="password = ''"
                [disabled]="!(password.length > 0)">Discard</button>
            <button mat-flat-button color="primary" (click)="changePassword()"
                [disabled]="!isValidPwd()">Update</button>
        </mat-card-actions>
    </mat-card>

    <mat-divider></mat-divider>

</div>