<div class="column spacer keyboard">

    <div class="row spacer">

        <div id="target4" class="action key" [class.hover]="isKeyActive('escape')">
            <div>
                <kbd>Esc</kbd>
            </div>
        </div>

        <div class="empty key"></div>

        <div class="key" [class.hover]="isKeyActive('f1')">
            <div>
                <kbd>F1</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f2')">
            <div>
                <kbd>F2</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f3')">
            <div>
                <kbd>F3</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f4')">
            <div>
                <kbd>F4</kbd>
            </div>
        </div>

        <div class="empty key"></div>

        <div class="key" [class.hover]="isKeyActive('f5')">
            <div>
                <kbd>F5</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f6')">
            <div>
                <kbd>F6</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f7')">
            <div>
                <kbd>F7</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f8')">
            <div>
                <kbd>F8</kbd>
            </div>
        </div>

        <div class="empty key"></div>

        <div class="key" [class.hover]="isKeyActive('f9')">
            <div>
                <kbd>F9</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f10')">
            <div>
                <kbd>F10</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f11')">
            <div>
                <kbd>F11</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f12')">
            <div>
                <kbd>F12</kbd>
            </div>
        </div>

    </div>

    <div class="row spacer">

        <div class="key" [class.hover]="isKeyActive('º')">
            <div>
                <kbd>º</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('1')">
            <div>
                <kbd>1</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('2')">
            <div>
                <kbd>2</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('3')">
            <div>
                <kbd>3</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('4')">
            <div>
                <kbd>4</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('5')">
            <div>
                <kbd>5</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('6')">
            <div>
                <kbd>6</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('7')">
            <div>
                <kbd>7</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('8')">
            <div>
                <kbd>8</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('9')">
            <div>
                <kbd>9</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('0')">
            <div>
                <kbd>0</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('\'')">
            <div>
                <kbd>'</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('¡')">
            <div>
                <kbd>¡</kbd>
            </div>
        </div>

        <div class="double key" [class.hover]="isKeyActive('backspace')">
            <div>
                <kbd>Delete</kbd>
            </div>
        </div>

    </div>

    <div class="row spacer">

        <div class="double key" [class.hover]="isKeyActive('tab')">
            <div>
                <kbd>Tab</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('q')">
            <div>
                <kbd>Q</kbd>
            </div>
        </div>

        <div id="target5" class="movement key" [class.hover]="isKeyActive('w')">
            <div>
                <kbd>W</kbd>
            </div>
        </div>

        <div id="target3" class="action key" [class.hover]="isKeyActive('e')">
            <div>
                <kbd>E</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('r')">
            <div>
                <kbd>R</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('t')">
            <div>
                <kbd>T</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('y')">
            <div>
                <kbd>Y</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('u')">
            <div>
                <kbd>U</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('i')">
            <div>
                <kbd>I</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('o')">
            <div>
                <kbd>O</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('p')">
            <div>
                <kbd>P</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('`')">
            <div>
                <kbd>`</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('+')">
            <div>
                <kbd>+</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('ç')">
            <div>
                <kbd>ç</kbd>
            </div>
        </div>

    </div>

    <div class="row spacer">

        <div class="double key" [class.hover]="isKeyActive('capslock')">
            <div>
                <kbd>Caps Lock</kbd>
            </div>
        </div>

        <div id="target6" class="movement key" [class.hover]="isKeyActive('a')">
            <div>
                <kbd>A</kbd>
            </div>
        </div>

        <div id="target7" class="movement key" [class.hover]="isKeyActive('s')">
            <div>
                <kbd>S</kbd>
            </div>
        </div>

        <div id="target8" class="movement key" [class.hover]="isKeyActive('d')">
            <div>
                <kbd>D</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('f')">
            <div>
                <kbd>F</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('g')">
            <div>
                <kbd>G</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('h')">
            <div>
                <kbd>H</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('j')">
            <div>
                <kbd>J</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('k')">
            <div>
                <kbd>K</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('l')">
            <div>
                <kbd>L</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('ñ')">
            <div>
                <kbd>Ñ</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('´')">
            <div>
                <kbd>´</kbd>
            </div>
        </div>

        <div class="double key" [class.hover]="isKeyActive('enter')">
            <div>
                <kbd>Enter</kbd>
            </div>
        </div>

    </div>

    <div class="row spacer">

        <div id="target2" class="action double key" [class.hover]="isKeyActive('shift')">
            <div>
                <kbd>Shift</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('<')">
            <div>
                <kbd>&lt;&gt;</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('z')">
            <div>
                <kbd>Z</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('x')">
            <div>
                <kbd>X</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('c')">
            <div>
                <kbd>C</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('v')">
            <div>
                <kbd>V</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('b')">
            <div>
                <kbd>B</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('n')">
            <div>
                <kbd>N</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('m')">
            <div>
                <kbd>M</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive(',')">
            <div>
                <kbd>,</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('.')">
            <div>
                <kbd>.</kbd>
            </div>
        </div>

        <div class="key" [class.hover]="isKeyActive('-')">
            <div>
                <kbd>-</kbd>
            </div>
        </div>

        <div class="double key" [class.hover]="isKeyActive('shift')">
            <div>
                <kbd>Shift</kbd>
            </div>
        </div>

    </div>

    <div class="row spacer">

        <div class="big key" [class.hover]="isKeyActive('control') && !isKeyActive('altgraph')">
            <div>
                <kbd>Ctrl</kbd>
            </div>
        </div>

        <div class="big key" [class.hover]="isKeyActive('meta')">
            <div>
                <kbd>Win</kbd>
            </div>
        </div>

        <div class="big key" [class.hover]="isKeyActive('alt')">
            <div>
                <kbd>Alt</kbd>
            </div>
        </div>

        <div id="target1" class="action space key" [class.hover]="isKeyActive('space')">
            <div>
                <kbd>Space</kbd>
            </div>
        </div>

        <div class="big key" [class.hover]="isKeyActive('altgraph')">
            <div>
                <kbd>AltGr</kbd>
            </div>
        </div>

        <div class="big key" [class.hover]="isKeyActive('contextmenu')">
            <div>
                <kbd>Menu</kbd>
            </div>
        </div>

        <div class="big key" [class.hover]="isKeyActive('control') && !isKeyActive('altgraph')">
            <div>
                <kbd>Ctrl</kbd>
            </div>
        </div>

    </div>

</div>


<svg #svgElement id="arrow">
    <ng-container *ngFor="let arrow of arrows">
        <line [attr.x1]="arrow.lineX1" [attr.y1]="arrow.lineY1" [attr.x2]="arrow.lineX2" [attr.y2]="arrow.lineY2"
            stroke="black" stroke-width="1.5" />
    </ng-container>
</svg>

<div id="origin1" class="origin" style="left: 50vh; top: 6vh;">
    <span>Basic attack</span>
</div>

<div id="origin2" class="origin" style="left: -20vh; top: -15vh;">
    <span>Dash</span>
</div>

<div id="origin3" class="origin" style="left: 40vh; top: -65vh;">
    <span>Special attack</span>
</div>

<div id="origin4" class="origin" style="left: -20vh; top: -55vh;">
    <span>Pause</span>
</div>

<div id="origin5" class="origin" style="left: 10vh; top: -10vh;">
    <div id="origin6">
        <div id="origin7">
            <div id="origin8">
                <span>Movement</span>
            </div>
        </div>
    </div>
</div>





<!--

<svg #svgElement id="arrow">
    <line [attr.x1]="lineX1" [attr.y1]="lineY1" [attr.x2]="lineX2" [attr.y2]="lineY2" stroke="black" stroke-width="1" />
</svg>

<div id="origin">
    <span>Jump</span>
</div>

<div>
    <span>Dash</span>
</div>

<div>
    <span>Movement</span>
</div>

<div>
    <span>Basic attack</span>
</div>

<div>
    <span>Special attack</span>
</div>-->