.header-toolbar {
    //position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.example-spacer {
    flex: 1 1 auto;
}

.title {
    flex: 1 1 auto;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.icon-display {
    transform: scale(1.5);
}