mat-card {
    width: 90%;
    background-color: #333333;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;

    .menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    .votes {
        display: flex;
        align-items: center;

        .share {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .actions {
        display: flex;
        align-self: flex-end;
        gap: 20px;
    }

}