.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;

    div {
        padding: 5%;
    }
}

.spacer {
    margin-top: 20px;
    border-radius: 10%;
    gap: 20px;
}