* {
    cursor: url('../assets/pointers/wow-hand.png'), auto;
}

.router-container {
    min-height: 100%;
    position: relative;
}

app-footer {
    bottom: 0;
}

/*.darkmode {
    background-color: #333333;
    color: #ffffff;
}

.lightmode {
    background-color: #ffffff;
    color: #000000;
}*/