<div class="parallax-container">
    <div id="down"></div>

    <div id="up">
        <img src="https://i.redd.it/nwnydo1xg7m31.png">
    </div>

    <div id="left">
        <img
            src="https://discords.com/_next/image?url=https%3A%2F%2Fcdn.discordapp.com%2Femojis%2F785793364964278292.gif%3Fv%3D1&w=64&q=75">
    </div>

    <div id="right">
        <img class="right"
            src="https://discords.com/_next/image?url=https%3A%2F%2Fcdn.discordapp.com%2Femojis%2F636829456807493632.gif%3Fv%3D1&w=64&q=75">
    </div>


    <div class="content">

        <h1>WELCOME, <span>WARRIOR!</span></h1>

        <iframe src="https://www.youtube.com/embed/UAO2urG23S4?si=tklxIyrpcX9C0qfP&autoplay=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="description">
            <div>
                <h2>Explore!</h2>
                <p>There is an entire world for you to discover.
                    Immerse yourself in the dark depths of <span>Sorrownia</span>, a
                    mysterious realm full of secrets.
                    You don't know why are you here, you know you are not alone, but you will get to the bottom
                    and bring the <span>Hidden Truth</span> to light.
                </p>
            </div>

            <div>
                <h2>Fight!</h2>
                <p>New enemies and dangers are awaiting behind every corner, make your way through and unleash
                    stunning abilities in the process.
                    Reach the end and defeat horrifying bosses that will make your blood freeze to unlock new levels.
                    A classic <span>Metroidvania</span> combat system, inspired in the Hollow Knight franchise.
                </p>
            </div>

            <div>
                <h2>Speedrun!</h2>
                <p>Get ready to squeeze between obstacles with lightning speed and precision.
                    Dive into the adrenaline-fueled battle aiming for the <span>Glory</span>.
                    Embrace the challenge and race against the clock, every second counts.
                    Compete for the quickest time and
                    crown yourself as the first on the <span>leaderboard</span>.
                </p>
            </div>

        </div>

        <button mat-raised-button color="accent" routerLink="/download">Play now!</button>

    </div>

    <div class="wave w1"></div>
    <div class="wave w2"></div>

</div>

<app-comment-box></app-comment-box>