<div class="container">
    <img src="assets/images/angular.svg">

    <div>
        <span>Content size: {{ pageContentSize }}</span>
        <span>Window size: {{ browserWindowSize }}</span>
        <span>- Screen size: {{ screenResolution }}</span>
    </div>

    <div>
        <span>Ping: {{ ping }}</span>
        <span>Fps: {{ fps }}</span>
        <span>Current URL: {{ url }} </span>
    </div>

    <div>
        <span>Public IP: {{ ipAddress }}</span>
        <span>Languages: {{ languages }}</span>
        <span>Device: {{ device }}</span>
    </div>

</div>