<mat-toolbar color="primary" class="header-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="update()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>Pixel React</h1>
    <span class="example-spacer"></span>

    <nav mat-tab-nav-bar backgroundColor="primary">
        <a mat-tab-link [routerLink]="routes.home" routerLinkActive #rl1="routerLinkActive"
            [active]="rl1.isActive">Home</a>
        <a mat-tab-link [routerLink]="routes.download" routerLinkActive #rl2="routerLinkActive"
            [active]="rl2.isActive">Download</a>
        <a mat-tab-link [routerLink]="routes.about" routerLinkActive #rl3="routerLinkActive"
            [active]="rl3.isActive">About
            Us</a>
        <a mat-tab-link [routerLink]="routes.admin" routerLinkActive #rl4="routerLinkActive" [active]="rl4.isActive"
            *ngIf="role == 'admin'">Admin</a>
    </nav>

    <span class="example-spacer"></span>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 10px;">
        <img *ngIf="avatar" [src]="avatar" width="30px" style="border-radius: 50%;">
        <span *ngIf="userAuthenticated" matTooltip="Yep, thats you!">{{username}} {{role ? '('+role+')' :
            ''}}</span>
        <span *ngIf="!userAuthenticated">Browsing as a guest</span>
    </div>

</mat-toolbar>

<mat-menu #menu>
    <button mat-menu-item [routerLink]="routes.register" *ngIf="!userAuthenticated">
        <mat-icon>person</mat-icon>
        <span>Register</span>
    </button>
    <button mat-menu-item [routerLink]="routes.login" *ngIf="!userAuthenticated">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
    <button mat-menu-item [routerLink]="routes.userSettings" *ngIf="userAuthenticated">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item [routerLink]="routes.login" (click)="logout()" *ngIf="userAuthenticated">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
    <button mat-menu-item (click)="scrollToBottom()">
        <mat-icon>info</mat-icon>
        <span>Contact</span>
    </button>
    <button mat-menu-item (click)="darkMode = !darkMode">
        <mat-icon>{{darkMode ? 'light_mode' : 'dark_mode'}}</mat-icon>
        <span>{{darkMode ? 'Light mode' : 'Dark mode'}}</span>
    </button>
</mat-menu>