<header>
    <mat-toolbar color="primary" class="header-toolbar">
        <div class="row left">
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="update()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>Pixel React</h1>
        </div>

        <nav mat-tab-nav-bar [tabPanel]="tabPanel" backgroundColor="primary">
            <a mat-tab-link [routerLink]="routes.home" routerLinkActive #rl1="routerLinkActive"
                [active]="rl1.isActive">Home</a>
            <a mat-tab-link [routerLink]="routes.leaderborad" routerLinkActive #rl2="routerLinkActive"
                [active]="rl2.isActive">Leaderboard</a>
            <a mat-tab-link [routerLink]="routes.download" routerLinkActive #rl3="routerLinkActive"
                [active]="rl3.isActive">Download</a>
            <a mat-tab-link [routerLink]="routes.about" routerLinkActive #rl4="routerLinkActive" [active]="rl4.isActive"
                tab>About Us</a>
            <a mat-tab-link [routerLink]="routes.admin" routerLinkActive #rl5="routerLinkActive" [active]="rl5.isActive"
                *ngIf="role == 'admin'">Admin</a>

            <mat-tab-nav-panel
                #tabPanel><!--Esta etiqueta vacia es una chapuza para que el nav funcione, aqui dentro deberia ir el <router-outlet> y asi se podria controlar el darkMode tambien-->
            </mat-tab-nav-panel>
        </nav>

        <div class="row right">
            <img *ngIf="userAuthenticated" [src]="avatar" width="30px" style="border-radius: 50%;">
            <span *ngIf="userAuthenticated" matTooltip="Yep, thats you!">{{username}} {{role ? '('+role+')' :
                ''}}</span>
            <span *ngIf="!userAuthenticated">Browsing as a guest</span>
        </div>

    </mat-toolbar>
</header>

<mat-menu #menu>
    <button mat-menu-item [routerLink]="routes.register" *ngIf="!userAuthenticated">
        <mat-icon>person</mat-icon>
        <span>Register</span>
    </button>
    <button mat-menu-item [routerLink]="routes.login" *ngIf="!userAuthenticated">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
    <button mat-menu-item [routerLink]="routes.userSettings" *ngIf="userAuthenticated">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logout()" *ngIf="userAuthenticated">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="my-games" *ngIf="userAuthenticated">
        <mat-icon>sports_esports</mat-icon>
        <span>My games</span>
    </button>
    <button mat-menu-item (click)="scrollToBottom()">
        <mat-icon>info</mat-icon>
        <span>Contact</span>
    </button>
    <button mat-menu-item (click)="darkMode = !darkMode">
        <mat-icon>{{darkMode ? 'light_mode' : 'dark_mode'}}</mat-icon>
        <span>{{darkMode ? 'Light mode' : 'Dark mode'}}</span>
    </button>
</mat-menu>