<div class="container">
    <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <mat-card-header class="centerer">
            <mat-card-title>Reset password</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form *ngIf="step == 0" (ngSubmit)="onSubmitEmail()">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" placeholder="Introduce your email">
                    <mat-icon matSuffix></mat-icon>
                    <mat-error *ngIf="email?.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="email?.hasError('email')">Invalid email</mat-error>
                </mat-form-field>
                <button mat-raised-button [disabled]="time != 0" color="primary" type="submit"><span
                        *ngIf="time != 0">Wait {{time}} s before sending another email</span><span
                        *ngIf="time == 0">Send password reset
                        email</span>
                </button>
            </form>

            <form *ngIf="step == 1" (ngSubmit)="onSubmitCode()">
                <mat-form-field appearance="fill">
                    <mat-label>Code</mat-label>
                    <input matInput [formControl]="code" placeholder="Introduce the code received">
                    <mat-icon matSuffix></mat-icon>
                    <mat-error *ngIf="code?.hasError('required')">Required</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>

            <form *ngIf="step == 2" (ngSubmit)="onSubmitPassword()">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Introduce your new password">
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword" matTooltip="{{ hidePassword ? 'reveal password' :
                    'hide password'}}">{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password?.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="password?.hasError('pattern'); else elseBlock">Password must have at least an
                        uppercase and a lowercase letters, a number and a symbol</mat-error>
                    <ng-template #elseBlock><mat-error
                            *ngIf="password?.hasError('minlength') || password?.hasError('maxlength')">Password must
                            have a length between 8 and 30 characters</mat-error></ng-template>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Reset password</button>
            </form>

        </mat-card-content>
    </mat-card>
</div>