.router-container {
    min-height: 100%;
    position: relative;
}

* {
    cursor: url('../../../assets/pointers/wow-hand.png'), auto;
}

.darkmode {
    background-color: #222222;
    color: #ffffff;
}

.lightmode {
    background-color: #dddddd;
    color: #000000;
}