<mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTabIndex" backgroundColor="primary">
    <mat-tab label="Windows {{currentPlatform == 'Windows' ? '(Current Platform)' : ''}}"></mat-tab>
    <mat-tab label="MacOS {{currentPlatform == 'MacOS' ? '(Current Platform)' : ''}}"></mat-tab>
    <mat-tab label="Linux {{currentPlatform == 'Linux' ? '(Current Platform)' : ''}}"></mat-tab>
</mat-tab-group>

<div class="content">

    <h1>How <b>to</b> play:</h1>
    <div *ngIf="selectedTabIndex == 0" class="instructions">
        <div>
            <h3>Portable:</h3>
            <p>Press the relative download button and wait until process finishes, then open windows file explorer and
                navigate to your <b>downloads</b> folder (Usually its "C:\users\you\downloads" by
                default).</p>
            <p>After that, <b class="rclick">right click</b> on the file you just downloaded and select one of the
                <b>extract</b>
                options (depending of your computer, you may need to have installed a compressor such as WinRar).
            </p>
            <p>Lasty, open the new extracted folder and <b class="dclick">double click</b> the <span>.exe</span>
                file that has the
                same name
                as the game and the program will start.</p>

        </div>
        <div>
            <h3>Installer:</h3>
            <p>Press the relative download button and wait until process finishes, then open windows file explorer and
                navigate to your <b>downloads</b> folder (Usually its "C:\users\you\downloads" by
                default).</p>
            <p>After that, <b class="dclick">double click</b> on the file you just downloaded and a window will
                pop-up (You may
                first be prompted to run the program as administrator), so just follow
                the <b class="wizard">install wizard</b> instrucions.
            </p>
        </div>
        <div>
            <h3>Controls:</h3>
            <p>Use your <b>keyboard</b> to try them out!</p>
        </div>
    </div>

    <div *ngIf="selectedTabIndex == 1" class="instructions">
        <div>
            <h3>Hello!</h3>
            <p>MacOS version is not available yet, stay tuned for updates!</p>
        </div>
    </div>

    <div *ngIf="selectedTabIndex == 2" class="instructions">
        <div>
            <h3>Hello!</h3>
            <p>Linux version is not available yet, stay tuned for updates!</p>
        </div>
    </div>

    <app-keyboard *ngIf="selectedTabIndex == 0"></app-keyboard>

    <mat-card>
        <mat-card-content>

            <p>Platform: <button mat-button
                    [matMenuTriggerFor]="platformMenu"><span>{{selectedPlatform}}</span><mat-icon>arrow_drop_down</mat-icon></button>
            </p>
            <mat-menu #platformMenu>
                <button mat-menu-item (click)="selectedPlatform = 'Windows'">Windows</button>
                <button mat-menu-item (click)="selectedPlatform = 'MacOS'">MacOS</button>
                <button mat-menu-item (click)="selectedPlatform = 'Linux'">Linux</button>
            </mat-menu>

            <p>Architecture: <button mat-button
                    [matMenuTriggerFor]="architectureMenu"><span>{{architecture}}</span><mat-icon>arrow_drop_down</mat-icon></button>
                bits </p>
            <mat-menu #architectureMenu>
                <button mat-menu-item (click)="architecture = 'x64'">x64</button>
                <button mat-menu-item (click)="architecture = 'x32'">x32</button>
            </mat-menu>

            <p>Language: <button mat-button [matMenuTriggerFor]="languageMenu"><span>{{language}} {{ language | slice:-2
                        | countryFlagEmoji }}</span><mat-icon>arrow_drop_down</mat-icon></button>
            </p>
            <mat-menu #languageMenu>
                <button mat-menu-item (click)="language = 'ES-ES'">ES-ES</button>
                <button mat-menu-item (click)="language = 'EN-US'">EN-US</button>
            </mat-menu>

            <p>Version: <button mat-button
                    (click)="dialogTable()"><span>{{version}}</span><mat-icon>arrow_drop_down</mat-icon></button></p>

        </mat-card-content>
    </mat-card>

    <div class="buttons">
        <a [href]="url" download="game.zip">
            <button mat-raised-button color="accent">Download portable
                <mat-icon>download</mat-icon>
            </button>
        </a>
        <a [href]="url" download="game.exe">
            <button mat-raised-button color="accent">Download installer
                <mat-icon>download</mat-icon>
            </button>
        </a>
    </div>

</div>