<mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTabIndex" backgroundColor="primary">
    <mat-tab label="Windows {{platform == 'Windows' ? '(Current Platform)' : ''}}"></mat-tab>
    <mat-tab label="MacOS {{platform == 'MacOS' ? '(Current Platform)' : ''}}"></mat-tab>
    <mat-tab label="Linux {{platform == 'Linux' ? '(Current Platform)' : ''}}"></mat-tab>
</mat-tab-group>

<div class="content">

    <h1>How <b>to</b> play:</h1>
    <div *ngIf="selectedTabIndex == 0" class="instructions">
        <div>
            <h3>Portable:</h3>
            <p>Press the relative download button and wait until process finishes, then open windows file explorer and
                navigate to your <b>downloads</b> folder (Usually its "C:\users\you\downloads" by
                default).</p>
            <p>After that, <b class="rclick">right click</b> on the file you just downloaded and select one of the
                <b>extract</b>
                options (depending of your computer, you may need to have installed a compressor such as WinRar).
            </p>
            <p>Lasty, open the new extracted folder and <b class="dclick">double click</b> the <span>.exe</span>
                file that has the
                same name
                as the game and the program will start.</p>

        </div>
        <div>
            <h3>Installer:</h3>
            <p>Press the relative download button and wait until process finishes, then open windows file explorer and
                navigate to your <b>downloads</b> folder (Usually its "C:\users\you\downloads" by
                default).</p>
            <p>After that, <b class="dclick">double click</b> on the file you just downloaded and a window will
                pop-up (You may
                first be prompted to run the program as administrator), so just follow
                the <b class="wizard">install wizard</b> instrucions.
            </p>
        </div>
    </div>

    <div *ngIf="selectedTabIndex == 1">
        <p> b Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at sapiente reprehenderit rerum amet,
            quo
            libero voluptate neque culpa totam nesciunt blanditiis ducimus suscipit doloremque et? Provident,
            distinctio.
            Obcaecati, doloribus.</p>
    </div>

    <div *ngIf="selectedTabIndex == 2">
        <p>c Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at sapiente reprehenderit rerum amet, quo
            libero voluptate neque culpa totam nesciunt blanditiis ducimus suscipit doloremque et? Provident,
            distinctio.
            Obcaecati, doloribus.</p>
    </div>

    <mat-card>
        <mat-card-content>
            <p>Device: <b>{{platform}}</b> (browser)</p>
            <p>Architecture: <button mat-button
                    [matMenuTriggerFor]="architectureMenu"><span>{{architecture}}</span><mat-icon>arrow_drop_down</mat-icon></button>
                bits

                <mat-menu #architectureMenu>
                    <button mat-menu-item>x64</button>
                    <button mat-menu-item>x32</button>
                </mat-menu>

            </p>
            <p>Language: <button mat-button
                    [matMenuTriggerFor]="languageMenu"><span>{{language}}</span><mat-icon>arrow_drop_down</mat-icon></button>

                <mat-menu #languageMenu>
                    <button mat-menu-item>English</button>
                    <button mat-menu-item>French</button>
                    <button mat-menu-item>Spanish</button>
                </mat-menu>


            </p>
            <p>Version: <button mat-button
                    (click)="dialogTable()"><span>{{version}}</span><mat-icon>arrow_drop_down</mat-icon></button></p>
        </mat-card-content>
    </mat-card>

    <app-keyboard></app-keyboard>

    <div class="buttons">
        <a [href]="url" download="game.zip">
            <button mat-raised-button color="accent">Download portable
                <mat-icon>download</mat-icon>
            </button>
        </a>
        <a [href]="url" download="game.exe">
            <button mat-raised-button color="accent">Download installer
                <mat-icon>download</mat-icon>
            </button>
        </a>
    </div>

</div>