/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Pixel';
}


@font-face {
    font-family: 'Pixel';
    src: url('assets/fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}