/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Pixel';
}

@font-face {
    font-family: 'Pixel';
    src: url('assets/fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Game';
    src: url('assets/fonts/PixelifySans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}