.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 100px;
    position: relative;
    z-index: 2;

    h1 {
        font-family: 'Pixel';
        font-size: xxx-large;
        color: rgb(252, 147, 201);
        text-shadow: -4px 4px 0px rgb(0, 0, 0);
        transition: all 1s;

        b {
            color: rgb(54, 200, 200);
        }
    }

    h1:hover {
        transform: scale(1.5);
        text-shadow: -4px 4px 10px rgb(0, 0, 0);
    }

    iframe {
        --iframe-height: 500px;
        height: var(--iframe-height);
        width: calc((560/315) * var(--iframe-height));
    }

    .description {
        display: flex;
        flex-direction: column;
        font-family: 'Pixel';
        color: #ffffff;
        text-shadow: -4px 4px 0px rgb(0, 0, 0);
        gap: 100px;

        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-left: 300px;
            margin-right: 300px;

            h2 {
                font-size: xx-large;
                color: rgb(252, 147, 201);
                font-family: 'Pixel'; //wtf
                transition: all 0.5s;
            }

            p {
                font-size: x-large;
                line-height: 2;
                margin-top: 10px;
                transition: all 0.5s;

                b {
                    color: rgb(54, 200, 200);
                }
            }

            h2:hover,
            p:hover {
                transform: scale(1.1);
                text-shadow: -4px 4px 4px rgb(0, 0, 0);
            }
        }
    }

    button {
        margin-bottom: 150px;
        scale: 2;
        transition: all 1s;
    }

    button:hover {
        transform: scale(1.5);
    }

}