.cube {
    border-radius: 0%;
    border: solid 2px #142cb0;
    width: 10px;
    height: 10px;
}

.circle {
    border-radius: 50%;
    border: solid 2px #142cb0;
    width: 10px;
    height: 10px;
}

.cross {
    --color: #142cb0;
    --l: 2px;
    width: 16px;
    height: 16px;
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));

    --clip-path: polygon(var(--l) 0%, calc(100% - var(--l)) 0%, 100% var(--l), 100% calc(100% - var(--l)), calc(100% - var(--l)) 100%, var(--l) 100%, 0% calc(100% - var(--l)), 0% var(--l));
    -webkit-clip-path: var(--clip-path);
    clip-path: var(--clip-path);
}

.triangle {
    scale: 0.4;
    --b: 10px !important;
    width: 40px !important;
    aspect-ratio: 1/cos(30deg) !important;
    clip-path: polygon(50% 0, 100% 100%, 0 100%, 50% 0, 50% var(--b), calc(var(--b)*cos(30deg)) calc(100% - var(--b)/2), calc(100% - var(--b)*cos(30deg)) calc(100% - var(--b)/2), 50% var(--b)) !important;
    background: #142cb0 !important;
}

.shape {
    overflow: hidden;
    position: absolute;
    top: 80vh;
    left: 45vw;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: spin-grow 12s ease-in forwards infinite;
    z-index: 2;

    &:nth-child(1) {
        animation-delay: 1s;
        left: 50vw;
        top: 80vh;
    }

    &:nth-child(2) {
        animation-delay: 2s;
        left: 25vw;
        top: 40vh;
    }

    &:nth-child(3) {
        animation-delay: 3s;
        left: 85vw;
        top: 50vh;
    }

    &:nth-child(4) {
        animation-delay: 4s;
        left: 70vw;
        top: 10vh;
    }

    &:nth-child(5) {
        animation-delay: 5s;
        left: 10vw;
        top: 85vh;
    }

    &:nth-child(6) {
        animation-delay: 6s;
        left: 50vw;
        top: 10vh;
    }

    &:nth-child(7) {
        animation-delay: 7s;
        left: 80vw;
        top: 80vh;
    }

    &:nth-child(8) {
        animation-delay: 8s;
        left: 10vw;
        top: 5vh;
    }

    @keyframes spin-grow {
        from {
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            opacity: 1;
        }

        to {
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
            opacity: 0;
        }
    }
}

.waves>div {
    position: absolute;
    width: 1300px;
    height: 1300px;
    margin-left: -1100px;
    margin-top: -0px;
    border-radius: 43%;
    z-index: 1;

    &:nth-child(1) {
        animation: drift 6000ms infinite linear;
        background: rgba(0, 68, 255, 0.6);
    }

    &:nth-child(2) {
        animation: drift 3000ms infinite linear;
        background: rgba(0, 0, 0, 0.4);
    }

    &:nth-child(3) {
        animation: drift 7500ms infinite linear;
        background: rgb(48, 183, 255, 0.6);
    }

    @keyframes drift {
        from {
            transform: rotate(0deg);
        }

        from {
            transform: rotate(360deg);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 100px;
    position: relative;
    background: linear-gradient(to right, rgb(52, 113, 181), rgb(16, 47, 112));
    z-index: 0;

    h1 {
        font-family: 'Pixel';
        font-size: xxx-large;
        color: rgb(252, 147, 201);
        text-shadow: -4px 4px 0px rgb(0, 0, 0);
        transition: all 1s;

        b {
            color: rgb(54, 200, 200);
        }
    }

    h1:hover {
        transform: scale(1.5);
        text-shadow: -4px 4px 10px rgb(0, 0, 0);
    }

    .description {
        display: flex;
        flex-direction: column;
        font-family: 'Pixel';
        color: #ffffff;
        text-shadow: -4px 4px 0px rgb(0, 0, 0);
        gap: 100px;
        z-index: 3;

        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-left: 300px;
            margin-right: 300px;

            h2 {
                font-size: xx-large;
                color: rgb(252, 147, 201);
                font-family: 'Pixel';
                transition: all 0.5s;
            }

            p {
                font-size: x-large;
                line-height: 2;
                margin-top: 10px;
                transition: all 0.5s;

                b {
                    color: rgb(54, 200, 200);
                }
            }

            h2:hover,
            p:hover {
                transform: scale(1.1);
                text-shadow: -4px 4px 4px rgb(0, 0, 0);
            }
        }
    }

}