<div class="shape cube"></div>
<div class="shape circle"></div>
<div class="shape cross"></div>
<div class="shape triangle"></div>
<div class="shape cube"></div>
<div class="shape circle"></div>
<div class="shape cross"></div>
<div class="shape triangle"></div>

<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>

<div class="content">

    <h1><b>ABOUT</b> US</h1>

    <div class="description">
        <div>
            <h2>Who are we?</h2>
            <p>We are a small <b>3-people</b> team of teen junior developers, strongly passionate about programming
                world.
            </p>
        </div>

        <div>
            <h2>Our project</h2>
            <p>This is our <b>graduate thesis project</b>, we made it with the hope of learning how to work under
                pressure with strict deadlines, carry on a big duty while having a job at the same time, manage team
                tasks, obtain new knowledge, and, of course, finish our degree with a <b>proud result</b>.
            </p>
        </div>

        <div>
            <h2>Thank you!</h2>
            <p>We are greatly humbled by you for visiting our page and playing our game, we hope you liked them
                as we loved the whole making putting with all our efforts. <b>See you soon!</b>
            </p>
        </div>

    </div>

</div>