.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10%;
    padding-top: 0%;
    background-image: url('https://64.media.tumblr.com/97ba22adc8d4a2a065637dc51c6d03bc/tumblr_o24hcknP7g1twakhqo1_540.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top 30%;
}

.sort {
    gap: 20px;

    button {
        transition: all 0.3s ease;
    }

    button.active {
        background-color: rgb(243, 160, 56);
        color: white;
        transform: scale(1.1);
    }
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    gap: 20px;

    mat-form-field {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }
}


img {
    width: 200px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.position {
    font-family: 'Pixel';
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    mat-divider {
        width: 90%;
        background-color: #ffffff;
    }

    b {
        color: white;
    }
}